/* src/styles/global.css */

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa; /* Slightly off-white */
    color: #0b2854;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
    color: #bc1725;
    transition: color 0.3s ease;
  }
  
  a {
    text-decoration: none;
    color: #bc1725;
    transition: color 0.3s ease;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  button {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #bc1725;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #bc1725;
  }
  